### write a program to print "Hello python" ten times.

In [2]:
i=1
while i<=10:
    print('Hello Python')
    i+=1

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

### write a program to print number from 1 to 10.

In [4]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

### write a program to print sum of first ten numbers.

In [12]:
i=1
sum1=0
while i<=10:
    sum1=sum1+i
    i=i+1
    print(sum1)

1
3
6
10
15
21
28
36
45
55

### write a program to print n number entered by the user

In [1]:

n=int(input('enter a number '))
for i in range(1,n+1):
    print(i)

enter a number 9
1
2
3
4
5
6
7
8
9

### write a program to print odd numbers between 1 to 100

In [5]:
for i in range(1,100):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### write a program to print even numbers between 1 to 100

In [6]:
for i in range(1,100):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

### write a program to print table of a number

In [11]:
p=5

for i in range(1,11):
    print(p, "*", i, "=", p*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

### write a program to calculate the factorial of a number

In [6]:
num=5
fac=1
for i in range(1,num+1):
    fac*=i

    print(fac)

1
2
6
24
120

### write a program to get reverse of a number

In [5]:

num=int(input("Enter number : ")) 
rev=0
while num!=0:
    digit=num%10
    rev=rev*10+digit
    num//=10
print(str(rev))

Enter number : 1234
4321

### write a program to find factors of a number

In [3]:
num=int(input("enter the number: "))
print('The factors are ')
for i in range(1,num+1):
    if num%i==0:
        print(i)

enter the number: 10
The factors are
1
2
5
10

### write a program to check wheather a given number is a palindrome or not

In [10]:
string=input('enter the string ')
revstr=""
for i in string:
    revstr=i+revstr
    print('reversed string ',revstr)
if string==revstr:
    print("the string is a palindrome")
else:
    print('the string is not a palindrome ')

enter the string animal
reversed string  a
reversed string  na
reversed string  ina
reversed string  mina
reversed string  amina
reversed string  lamina
the string is not a palindrome

In [ ]:
### write a program to check whether a given number is a prime or not

In [ ]:
num=int(input())
if num==1:
    print(num, "is not a prime number")
    for i in range(2,num):
        if num%i==0:
            print(num, 'is not a prime number')
else:
    print(num,'is a prime mumber')

### write a program to print prime number between 1 to 100

In [4]:
for num in range (1, 101):
    count = 0
    for i in range(2, (num//2 + 1)):
        if(num % i == 0):
            count = count + 1
            break

    if (count == 0 and num != 1):
        print(" %d" %num)

 2
 3
 5
 7
 11
 13
 17
 19
 23
 29
 31
 37
 41
 43
 47
 53
 59
 61
 67
 71
 73
 79
 83
 89
 97

 ### write a program to print the cubes of all numbers from 1 to a given number

In [28]:
num=int(input())
for i in range(1,num+1):
     cube=i*i*i
    print(i,"=",cube)

5
1 = 1
2 = 8
3 = 27
4 = 64
5 = 125

### write a program to print the following pattern

In [1]:
for i in range(5):
    for j in range(i+1):
        print(chr(65+j),end="")
    print()

A
AB
ABC
ABCD
ABCDE

In [6]:
for i in range(5):
    for j in range(i+1):
        print(chr(65+i),end="")
    print()

A
BB
CCC
DDDD
EEEEE

In [9]:
for i in range(5):
    for j in range(5-i):
        print(chr(65+j),end="")
    print()

ABCDE
ABCD
ABC
AB
A

In [29]:
#write a program to print the following star pattern using a loop

In [33]:
for i in range(5):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [34]:
for i in range(5):
    for j in range(5):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [36]:
for i in range(5):
    for j in range(5-i):
        print("*",end= "")
    print()

*****
****
***
**
*